.section-gb {
  padding-bottom: 3.6rem;

  .container {
    gap: 2rem;
    overflow: hidden;
  }

  .section {
    &__img {
      position: absolute;
      top: -5%;
      right: 8%;
      z-index: 11;
      max-width: 15rem;
    }
  }

  .picture-box {
    position: relative;
    height: 100%;
    width: 100%;
    &__image {
      display: block;
      max-width: 93%;
      margin-left: 1rem;
    }
    &__layer_glitter {
      position: absolute;
      max-width: 100%;
      animation: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      picture {
        display: block;
        height: fit-content;
      }
    }
    .glitter1 {
      bottom: 40%;
      right: -2%;
      max-width: 20%;
      transform: rotate(90deg);
      opacity: 0.6;
      animation: shineGb 5s linear 0s infinite normal forwards;
      z-index: 0;
      // &::after {
      //   position: absolute;
      //   content: "";
      //   width: 4px;
      //   height: 4px;
      //   left: 40%;
      //   bottom: 48%;
      //   background-color: red;
      // }
    }

    .glitter2 {
      bottom: 0%;
      left: 0%;
      max-width: 40%;
      opacity: 1;
      // border: 1px solid red;
      animation: rotate 7s linear 3s infinite normal forwards;
      transform-origin: 49% 48%;
    }
  }

  @media (min-width: 600px) {
    padding-top: 0rem;
    padding-bottom: 0;

    .container {
      padding: 0;
      align-items: center;
      gap: 2rem;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 31rem;
        height: 29rem;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #3fcbff 0%,
          rgba(63, 203, 255, 0) 100%
        );

        left: -10%;
        bottom: -20%;
        will-change: filter;
        filter: blur(90px);
      }
    }

    .btn {
      margin: 0;
    }

    .section {
      &__text-block {
        padding-top: 6rem;
        padding-bottom: 6rem;
        order: 2;
        width: 48.5%;
      }

      &__text {
        max-width: 90%;
      }

      &__picture {
        order: 1;
        width: 43vw;
        max-width: 51.5%;
      }

      &__img {
        top: -10%;
        right: 16%;
        z-index: 10;
        max-width: 18rem;
      }
    }

    .picture-box {
      &__image {
        width: 80%;
        max-width: 100%;
        margin-left: 5rem;
        display: block;
      }

      &__layer_glitter {
        position: absolute;
        max-width: 100%;
        animation: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        picture {
          display: block;
          height: fit-content;
        }
        img {
          display: block;
          max-width: 100%;
        }
      }
      .glitter1 {
        bottom: 48%;
        right: 10%;
        max-width: 15%;
        transform: rotate(90deg);
        animation: shineGb 5s linear 0s infinite normal forwards;
      }

      .glitter2 {
        bottom: -5%;
        left: -3%;
        max-width: 40%;
        opacity: 1;
        animation: rotate 7s linear 3s infinite normal forwards;
        // animation: none;
        transform-origin: 60% 48%;
        // &::after {
        //   position: absolute;
        //   content: "";
        //   width: 4px;
        //   height: 4px;
        //   left: 60%;
        //   bottom: 48%;
        //   background-color: red;
        // }
      }
    }
  }
}

@keyframes shineGb {
  0% {
    opacity: 0.5;
    transform: transform(90deg) scale(1);
  }
  50% {
    opacity: 0.8;
    transform: transform(90deg) scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: transform(90deg) scale(1);
  }
}
